# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu': {}
  # 'atom-text-editor': [
  #   {
  #     'label': 'Toggle git-links'
  #     'command': 'git-links:toggle'
  #   }
  # ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'git-links'
      'submenu': [
        {
          'label': 'Git Link for Current Line'
          'command': 'git-links:copy-absolute-link-for-current-line'
        },
        {
          'label': 'Git Link for Current File'
          'command': 'git-links:copy-absolute-link-for-current-file'
        }
      ]
    ]
  }
]
